<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusDisplay"-->

    <head>
        <title>Bus Information</title>
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>
                <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
            </div>
            <div th:if="${busInfo.hasNextStop()}"
                    th:each="stop: ${busInfo.getStopDisplays()}">
                <p>
                    Stop: <span th:text="${stop.getBusStopName()}"></span>
                    , Distance: <span th:text="${stop.getDisplayDistance()}"></span>
                </p>
                <p th:if="${stop.hasNextBus()}"
                   th:each="bus: ${stop.getNextBuses()}">
                    Number: <span th:text="${bus.getLineId()}"></span>
                    , Destination: <span th:text="${bus.getDestinationName()}"></span>
                    , Time To Arrival: <span th:text="${bus.getMinsSecs()}"></span>
                </p>
                <p th:unless="${stop.hasNextBus()}">
                    No buses!
                </p>
                <br/>
            </div>
            <div th:unless="${busInfo.hasNextStop()}">
                <p>
                    No nearby bus stops!
                </p>
                <br/>
            </div>
        </div>
    </body>
</html>